
<div class="col-lg-12">
  <h3 class="page-header">修改密码
    <%= link_to "返回首页", root_path, :class => "btn btn-default"%>
  </h3>
</div>
<div class="col-lg-12">

  <%= form_tag(controller: "users", action: "update_password", method: "post") do %>

      <div class="form-group">
        <label for="">原密码</label>
        <%= password_field_tag :oldpassword, params[:oldpassword],:class=>"form-control" %>
      </div>
      <div class="form-group">
        <label for="">新密码</label>
        <%= password_field_tag :password, params[:password],:class=>"form-control" %>
      </div>
      <div class="form-group">
        <label for="">确认密码</label>
        <%= password_field_tag :password_confirmation, params[:password_confirmation],:class=>"form-control" %>
      </div>

      <button type="submit" id="submit1" class="btn btn-primary">确认</button>
      <%= link_to '取消', root_path  , :class => "btn btn-default" %>




  <% end %>
</div>
<script>
    document.querySelector('#submit1').onclick=function(){
        if (confirm('确认修改?')){
            return true
        }else {
            return false
        }

    }
</script>




